################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EmpRoll/FileContentIndex/6302398b-556b-4905-8f97-022d05f2eeb8.vsidx
/.vs/EmpRoll/FileContentIndex/write.lock
/.vs/EmpRoll/FileContentIndex/9dc2cb6d-4575-4218-8876-1b0d626b6e58.vsidx
/.vs/EmpRoll/FileContentIndex/dd23dbb1-a680-4814-9c44-989bc3cc6670.vsidx
/.vs/VSWorkspaceState.json
/.vs/EmpRoll/FileContentIndex/fd67db46-a092-4a08-8519-305177f3f312.vsidx
/.vs/EmpRoll/FileContentIndex/merges/712799ef-2545-4b10-b91a-56406e047e27.vsidx
/.vs/EmpRoll/FileContentIndex/60a0da5f-1484-499d-a1a3-2bc4d57fa7be.vsidx
/.vs/EmpRoll/FileContentIndex/69cfad91-836b-4dc3-a02e-320e0dbd4433.vsidx
/.vs/EmpRoll/FileContentIndex/060cca87-89b3-44cd-a2d0-94471227db93.vsidx
/.vs/EmpRoll/FileContentIndex/8ff6a696-7f7c-4062-b892-fa9982f4a30e.vsidx
/.vs/EmpRoll/FileContentIndex/f7a40b90-7a6c-40b4-994c-b9f72a407947.vsidx
