################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EmpRoll/FileContentIndex/6302398b-556b-4905-8f97-022d05f2eeb8.vsidx
/.vs/EmpRoll/FileContentIndex/write.lock
/.vs/EmpRoll/FileContentIndex/9dc2cb6d-4575-4218-8876-1b0d626b6e58.vsidx
/.vs/EmpRoll/FileContentIndex/dd23dbb1-a680-4814-9c44-989bc3cc6670.vsidx
